* {
  color: black;
  margin: 0;
  padding: 0;
  /* background-color: rgb(255, 140, 0); */
  background-color: rgb(242, 239, 231);
  box-sizing: border-box;
}

/* NAVBAR */

.border {
  border: 1px solid transparent;
}

#header {
  position: sticky;
  top: 0;
  height: 73.891px;
  width: 100%;
  font-size: 25px;
  /* border-bottom: 4px solid rgb(115 115 119); */
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.05);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

/* input {
  background-color: white;
  border-color: white;
  color: black;
  height: 22px;
  border-radius: 10px;
} */

#logo {
  color: #ffd505;
  font-size: 30px;
  font-family: cursive;
  text-decoration: none;
  margin-right: 6rem;
}

.hover {
  width: 50px;
  background-color: rgb(242, 239, 231);
}

.hover:hover {
  font-size: large;
  background-color: #ffd505;
  /* border: 1px solid #ffd505; */
}

.nav-contents {
  display: flex;
  justify-content: space-between;
  gap: 3px;
}

a {
  margin-right: 20px;
  text-decoration: none;
  font-family: cursive;
  font-size: medium;
}

.cart {
  margin-right: 20px;
  margin-left: 6rem;
}
.nav-cart i {
  font-size: 30px;
  display: block;
}

.nav-cart {
  font-size: 0.8rem;
  font-weight: 700;
}

/* HERO */

.hero {
  width: 100vw;
  height: 500px;
  /* display: flex;
  justify-content: center; */
  /* box-shadow: -5px 20px 20px rgba(0, 0, 0, 0.8); */
}

.hero-img {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0.4)),
    url(img/mango5.jpg);
  background-size: cover;
  background-position: center;
}

/* SHOP */

.box {
  height: 410px;
  border: 1px solid rgba(186, 186, 186, 0.5);
  border-radius: 5px;
  width: 21.5%;
  background-color: white;
  margin: 20px;
  text-align: center;
  transition: transform 0.1s;
  animation-name: colorAnime;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 2s;
}

@keyframes colorAnime {
  from {
    background-color: rgb(242, 239, 231);
  }
  to {
    background-color: #ffd505;
  }
}
@media screen and (max-width: 1200px) {
  .box {
      width: 30%;
  }
}
@media screen and (max-width: 900px) {
  .box {
      width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .box {
      width: 100%;
  }
}
.box:hover {
  background-color: #ffd505;
  /* border: 1px solid #ffd505; */
  box-shadow: -25px 20px 30px rgba(0, 0, 0, 0.7);
  transform: scale(1.03);
  border-color: #ffd505;
}

.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background-color: #e2e7e6; */
  flex-shrink: 1.5;
  margin-bottom: 100px;
}

.box-img {
  height: 300px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: white;
}

.box-content p, h3 {
  background-color: white;
}

.order-now div {
  height: 30px;
  width: 120px;
  font-size: 20px;
  font-family: cursive;
  text-align: center;
  background-color: black;
  border-radius: 5px;
  color: white;
  display: inline-block;
  margin-left: 45vw;
}

/* FOOTER */

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgb(242, 239, 231);
  color: black;
  text-align: center;
  padding: 10px 0;
  font-size: 17px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: cursive;
}

.footer p {
  margin: 0;
}

.footer-box-container {
  height: 400px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-evenly;
}

.footer-box-1 {
  width: 30vw;
  text-align: left;
}


.footer-box-1 a {
  margin: 5px;
  font-size: 25px;
}


.fb:hover {
  color: blue;
}

.yt:hover {
  color: red;
}

.footer-box-2 {
  height: 400px;
  width: 30vw;
  background-color: rgb(242, 239, 231);
  text-align: left;
}
.footer-box-2 h3 {
  background-color: rgb(242, 239, 231);
}
.footer-box-2 i {
  display: inline-block;
}
.footer-box-2 p {
  display: inline-block;
}

#contact {
  display: block;
  padding-left: 5px;
}
